---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import Banner from '../components/Banner.astro';

import gardenImage from '../images/garden.jpg';
---

<Layout
  title="關於巧植"
  pageDescription="巧植景觀設計是位於台中的景觀設計廠商，由具豐富經驗的專業工程和專案管理人員創立。在客戶的預算範圍內，巧植將盡力為您打造出具自然元素和機能性的優質生活環境"
>
  <Banner bannerTitle="關於巧植">
    <Image class="banner-image" src={gardenImage} alt="關於巧植橫幅圖片" loading="eager" />
  </Banner>

  <div class="container py-3 mb-5">
    <div class="row gx-2 gy-3 intro__section">
      <div class="col-sm-4">
        <section class="intro__box">
          <h2 class="fw-bold text-center service-title">我們是誰？</h2>
          <p>
            巧植是一群景觀相關從業人員組成的專業團隊，具有多年在實務專案上的執行經驗，可替您執行景觀規劃、設計、施工、工程管理、維護保養的任務
          </p>
        </section>
      </div>
      <div class="col-sm-4">
        <section class="intro__box">
          <h2 class="fw-bold text-center service-title">巧植的規劃理念</h2>
          <ul>
            <li>發揚以自然元素及資源永續使用的觀念</li>
            <li>考量區域整體性</li>
            <li>發揮專業分工模式</li>
            <li>重視實用機能</li>
          </ul>
        </section>
      </div>
      <div class="col-sm-4">
        <section class="intro__box">
          <h2 class="fw-bold text-center service-title">巧植的目標</h2>
          <p>在經濟實用的前提下，致力於打造景觀之美，以達成盡真、盡善、盡美的理想生活環境</p>
        </section>
      </div>
    </div>
  </div>
</Layout>

<style>
  .intro__box {
    padding: 1rem;
    font-weight: 700;
    color: #7a8085;
    background-color: #ffffff;
    height: 100%;
    transition: all 0.3s;
  }
  .intro__box:hover {
    color: #323237;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
</style>
