<label class="toggle_menu_button" id="toggleMobileMenuLabel" for="toggleMobileMenu">
  <div class="menu_bar bar__top"></div>
  <div class="menu_bar bar__middle"></div>
  <div class="menu_bar bar__bottom"></div>
  <input type="checkbox" id="toggleMobileMenu" title="啟閉行動裝置網頁選單" />
</label>
