---
import '../styles/bootstrap.scss';
import MobileMenu from '../components/MobileMenu.astro';
interface Props {
  title: string;
  pageDescription: string;
}

const { title, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="zh-tw" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - 巧植景觀設計有限公司</title>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <nav class="header__nav">
          <div class="header__nav-logowrap">
            <a href="/joysplanting/">
              <img
                class="header__nav-logo"
                src="/joysplanting/LOGO.jpg"
                alt="巧植景觀設計有限公司"
              />
            </a>
          </div>
          <ul class="nav header__nav-list" id="header__nav-list">
            <li class="nav-item">
              <a class="nav-link" href="/joysplanting/">關於巧植</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/joysplanting/services">服務項目</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/joysplanting/showcase">工程案例</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/joysplanting/contact">聯絡我們</a>
            </li>
          </ul>
          <div class="header__nav-fold" id="header__nav-fold"></div>
          <!-- <MobileMenu /> -->
        </nav>
      </div>
    </header>
    <main class="main">
      <slot />
    </main>
    <footer class="footer py-3">
      <div class="container-fluid">
        <div class="footer__info d-md-flex justify-content-center pt-2">
          <ul>
            <li>
              電話：
              <a
                class="footer__info-link"
                href="tel:04-22056677"
                rel="noopener noreferrer"
                title="市話:04-22056677"
              >
                04-22056677</a
              >
            </li>
            <li>
              手機：
              <a
                class="footer__info-link"
                href="tel:0921-333861"
                rel="noopener noreferrer"
                title="手機:0921-333861"
              >
                0921-333861</a
              >
              楊小姐
            </li>
          </ul>
          <ul class="vertical-line">
            <li>
              Email:
              <a
                class="footer__info-link"
                href="mailto:joysplanting@gmail.com"
                rel="noopener noreferrer"
                title="Email:joysplanting@gmail.com"
              >
                joysplanting@gmail.com
              </a>
            </li>
            <li>地址：(404)台中市北區健行路490號</li>
          </ul>
        </div>
        <div class="footer__copyright">
          <a
            class="d-block text-center footer__copyright-link"
            href="https://www.flaticon.com/"
            title="icon attribution"
            target="_blank"
            rel="noopener noreferrer">Icons provided by Flaticon</a
          >
          <a
            class="d-block text-center footer__copyright-link"
            href="https://www.flaticon.com/"
            title="版權聲明"
          >
            Copyright © 2024 巧植景觀設計有限公司 | Joysplanting landscape design & engineer Corp.
          </a>
        </div>
      </div>
    </footer>
    <script>
      // Import only what you need
      // import 'bootstrap/js/dist/alert';
      import 'bootstrap/js/dist/button';
      // import 'bootstrap/js/dist/carousel';
      // import 'bootstrap/js/dist/collapse';
      // import 'bootstrap/js/dist/dropdown';
      // import 'bootstrap/js/dist/modal';
      // import 'bootstrap/js/dist/offcanvas';
      // import 'bootstrap/js/dist/popover';
      // import 'bootstrap/js/dist/scrollspy';
      // import 'bootstrap/js/dist/tab';
      // import 'bootstrap/js/dist/toast';
      // import 'bootstrap/js/dist/tooltip';

      import $ from 'jquery';

      $(function () {
        $('#header__nav-fold').on('click', function () {
          $('#header__nav-list').toggle();
        });
      });
    </script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
    background-size: 224px;
    cursor: default;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .header {
    padding: 1rem 0;
    width: 100%;
    background: linear-gradient(45deg, #006600, #009900);
    font-weight: 700;
    /* box-shadow: 0 0 10px #1a1a1a; */
    /* margin-bottom: 0.25rem; */
    /* z-index: 999; */
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header__nav-logo {
    width: 70px;
    height: 62px;
  }
  .header__nav-list {
    list-style: none;
    padding-left: 0;
    align-items: center;
    justify-content: end;
  }
  .header__nav-fold {
    display: none;
  }
  .main {
    min-height: 80vh;
    background-color: rgba(235, 235, 235, 0.6);
  }
  .footer {
    background-color: rgb(20, 38, 28);
    color: #ffffff;
    font-weight: 700;
  }
  .footer__info ul {
    line-height: 2rem;
    list-style: none;
    padding: 0 1rem;
    margin: 1rem 0;
  }
  .footer__info-link {
    color: #ffffff;
  }
  .footer__copyright-link {
    color: #ffffff;
    text-decoration: none;
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  .vertical-line {
    position: relative;
  }
  .vertical-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 2px;
    height: 100%;
  }
  @media (max-width: 767.9px) {
    .footer__info {
      margin: 0.8rem 0;
    }
    .footer__info ul {
      margin: 0;
    }
    .vertical-line::before {
      content: none;
    }
  }
  @media (max-width: 575.9px) {
    .header__nav {
      display: block;
    }
    .header {
      position: relative;
      min-height: calc(62px + 2rem);
    }
    .header__nav-logowrap {
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 1;
    }
    .header__nav-list {
      display: none;
      text-align: center;
    }
    .header__nav-fold {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      top: 1rem;
      right: 1rem;
    }
  }
</style>
