---
import '../styles/bootstrap.scss';
import Header from '../components/Header.astro';
import ToTopButton from '../components/ToTopButton.astro';
interface Props {
  title: string;
  pageDescription: string;
}

const { title, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-8CH1NXVCBT"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-8CH1NXVCBT');
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="zh-tw" />
    <!-- Google Search Console Verification -->
    <meta name="google-site-verification" content="6p63w2pzZERH15SGseLdkr6iWr_u6IBWlXehKVRTo-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - 巧植景觀設計有限公司</title>
  </head>

  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <footer class="footer py-3">
      <div class="container-fluid">
        <div class="footer__info d-md-flex justify-content-center pt-2">
          <ul>
            <li>
              電話：
              <a
                class="footer__info-link"
                href="tel:04-22056677"
                rel="noopener noreferrer"
                title="市話:04-22056677"
              >
                04-22056677</a
              >
            </li>
            <li>
              手機：
              <a
                class="footer__info-link"
                href="tel:0921-333861"
                rel="noopener noreferrer"
                title="手機:0921-333861"
              >
                0921-333861</a
              >
              楊小姐
            </li>
          </ul>
          <ul class="vertical-line">
            <li>
              Email:
              <a
                class="footer__info-link"
                href="mailto:joysplanting@gmail.com"
                rel="noopener noreferrer"
                title="Email:joysplanting@gmail.com"
              >
                joysplanting@gmail.com
              </a>
            </li>
            <li>地址：(404)台中市北區健行路490號</li>
          </ul>
        </div>
        <div class="footer__copyright">
          <a
            class="d-block text-center footer__copyright-link"
            href="https://www.flaticon.com/"
            title="icon attribution"
            target="_blank"
            rel="noopener noreferrer">Icons provided by Flaticon</a
          >
          <a
            class="d-block text-center footer__copyright-link"
            href="https://www.flaticon.com/"
            title="版權聲明"
          >
            Copyright © 2024 巧植景觀設計有限公司 | Joysplanting landscape design & engineer Corp.
          </a>
        </div>
      </div>
    </footer>
    <ToTopButton />
    <script>
      // Import only what you need
      // import 'bootstrap/js/dist/alert';
      import 'bootstrap/js/dist/button';
      // import 'bootstrap/js/dist/carousel';
      // import 'bootstrap/js/dist/collapse';
      // import 'bootstrap/js/dist/dropdown';
      // import 'bootstrap/js/dist/modal';
      // import 'bootstrap/js/dist/offcanvas';
      // import 'bootstrap/js/dist/popover';
      // import 'bootstrap/js/dist/scrollspy';
      // import 'bootstrap/js/dist/tab';
      // import 'bootstrap/js/dist/toast';
      // import 'bootstrap/js/dist/tooltip';
    </script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
    background-size: 224px;
    cursor: default;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    background-color: rgba(235, 235, 235, 0.6);
  }
  .main {
    min-height: 80vh;
  }
  .banner-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .footer {
    background-color: rgb(20, 38, 28);
    color: #ffffff;
    font-weight: 700;
  }
  .footer__info ul {
    line-height: 2rem;
    list-style: none;
    padding: 0 1rem;
    margin: 1rem 0;
  }
  .footer__info-link {
    color: #ffffff;
  }
  .footer__copyright-link {
    color: #ffffff;
    text-decoration: none;
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  .vertical-line {
    position: relative;
  }
  .vertical-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 2px;
    height: 100%;
  }
  @media (max-width: 767.9px) {
    .footer__info {
      margin: 0.8rem 0;
    }
    .footer__info ul {
      margin: 0;
    }
    .vertical-line::before {
      content: none;
    }
  }
  @media (max-width: 575.9px) {
  }
</style>
